@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Restaurante "Exemplo" utiliza o sistema Smart Restaurant!
    Fundado em xxxx por xxxyyyxxx trás comida de qualidade e muito gostosa para seus clientes!
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a semper nulla.
    Donec vestibulum nisi eu porttitor pulvinar. Mauris feugiat neque et auctor laoreet. Sed dictum bibendum mollis.
    Nunc pharetra porttitor odio, ut sollicitudin metus viverra sed. Suspendisse finibus pulvinar eros, et vestibulum ligula faucibus a.
    Sed non porttitor ante.
</p>

<img src="~/Content/anuncie-aqui.jpg" width="800" height="450" />
<p>
    Vestibulum viverra ipsum id nisi semper, a congue magna porttitor. Curabitur consectetur sed purus eget auctor. Integer ut porttitor magna. Mauris suscipit in ipsum in pellentesque. 
    Donec ultricies viverra libero, non vestibulum nisi lobortis rutrum. Curabitur sem ex, rhoncus in elementum a, rutrum non nisl. Donec finibus volutpat rhoncus. 
    Nulla posuere nunc in neque viverra eleifend. Praesent dui lacus, imperdiet id odio sed, fringilla congue nulla. Cras pellentesque lorem lorem, et tempus turpis ornare eget. 
    Vestibulum nec ex eget diam tincidunt tristique. Nulla hendrerit ipsum erat, non posuere magna viverra ut. Quisque sed blandit lacus. Praesent a euismod mi.
    Fusce diam mauris, placerat et feugiat in, scelerisque at ligula. Quisque est tellus, vehicula id congue quis, malesuada et mauris. 
    Phasellus luctus velit mauris, ut ornare mi scelerisque vitae. Ut cursus quam tortor, at fringilla enim venenatis elementum. 
    Maecenas feugiat turpis et tincidunt sodales. Cras semper justo vel neque vulputate euismod. Phasellus nec ullamcorper magna. 
    Proin tincidunt leo malesuada magna dignissim, porta blandit lectus ornare. Praesent condimentum consequat felis ut mattis. 
    Donec dictum erat et tellus egestas, eu vestibulum mauris tincidunt. In sit amet dui eleifend, laoreet metus at, tristique tellus. 
    Nam luctus, tellus sed pharetra bibendum, felis neque luctus eros, ac porta sem mauris id urna. Vestibulum at felis enim. 
    Nunc sagittis diam turpis, in sagittis mauris fermentum eget. Aliquam aliquet, lacus quis sodales interdum, augue orci tempor libero, a consequat ex felis vestibulum dui.


</p>
