@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Restaurante "Exemplo" utiliza o sistema Smart Restaurant!
    Fundado em xxxx por xxxyyyxxx trás comida de qualidade e muito gostosa para seus clientes!</p>
