@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="~/Content/maps.jpg" width="660" height="420" />


<address>
    Rua "Blablabla" XX<br />
    Bairro , SP 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    (xx) y yyyy-wwww
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
