@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SMART RESTAURANT</h1>
    <p class="lead">Smart Restaurant é uma sistema automatizado de entrega e pedido de restaurantes Este é um exemplo de um site.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Saiba Mais</h2>
        <p>
            Utilize o site para entrar em contato, e ver o cardapio, ao chegar na loja sera utilizado o app para pedidos automaticos.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leia Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Galeria</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo nulla, dapibus eu auctor consequat, ullamcorper nec metus. Praesent augue arcu, condimentum nec mauris sit amet, porta vehicula lorem. Vestibulum eros orci, euismod in gravida ut, scelerisque eu nisi. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leia Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Novidades</h2>
        <p>Aliquam maximus placerat imperdiet. Integer sit amet pharetra justo. In quis ipsum in purus sollicitudin finibus. Morbi nec varius leo. Nam tristique ac diam non dapibus.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leia Mais &raquo;</a></p>
    </div>
</div>
